body,h1,h2,h3,h4,h5,h6 {font-family: Segoe UI}


html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

#opacbtn{
  font-size: 1rem;
    padding: 1rem 10rem;
    transition: color 0.3s, background 0.3s;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #800000;
    border-radius: 10px;
    font-weight: bold;
}

#opacbtn:hover{
  background: #fff;
    color: #800000;
}