* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;


}


body {
    font-family: Segoe UI;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: auto;
}
.text-primary {
    color: #333;
}

.bg-light {
background: #f4f4f4;
color: #333;

}

.bg-dark {
    background: #333;
    color: #fff;
}

#navbar {
    justify-content: space-between;
    background: #fff;
    color: #fff;
    padding: 1.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #fff;
}

#navbar ul {
    align-items: center;
    list-style: none;
}

#navbar h2 a{
    color: #fff;
    text-decoration: none;

}

#navbar li a {
    text-decoration: none;
    color: #fff;
    background-color: #800000;
    padding: 10px 24px;
    font-size: 1rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    transition: background-color 0.3s;;
  
}
#navbar li a:hover {
    background-color: #fff;
    color: #800000;
}

#studenttable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #studenttable td, #studenttable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #studenttable tr:nth-child(even){background-color: #f2f2f2;}
  
  #studenttable tr:hover {background-color: #ddd;}
  
  #studenttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .search-container {
    float: right;
  }
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  input[type=text] {
      border: 1px solid #ccc;  
    }
    body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .dashboardbutton {
    background-color: white;
    color: black;
    border: 2px solid #333;
    padding: 10px 24px;
    transition-duration: 0.4s;
  }
  .dashboardbutton:hover{
    background-color: #e7e7e7;
  }

